/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.galerie {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      gap: 90px;
    }

    .galerie img {
      width: 100%;
      height: 140px;
      object-fit: cover;
      border-radius: 10px;
      display: block;
    }

/* Navbar */
nav {
    background: #0d47a1;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Header / Accueil */
header {
    height: 400px;
    background: url('images/bg.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 5px black;
    text-align: center;
}

header h1 {
    font-size: 40px;
}

.container {
    width: 90%;
    margin: 30px auto;
}

.service-card, .product-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    transition: 0.3s;
}

.service-card:hover, .product-card:hover {
    transform: scale(1.03);
    border-color: #0d47a1;
}
